* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* this is our reset codes
    if we don't give it will look ugly */
}
body {
  /*to center the item on the page
     i will use flexbox*/
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222831;
}
button {
  width: 9em;
  height: 3em;
  /* i said what is em previous button lessons */
  border-radius: 30em;
  font-size: 15px;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

button::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #00ADB5 0%, #83E85A 100%);
  /* CSS gradients let you display smooth
   transitions between two or more specified colors. */
   /* linear-gradient(direction, color-stop1, color-stop2, ...); */
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
    /* we gave zero to width now we will
    expand it */
  width: 9em;

}
